/* Fonts */
@font-face {
	font-family: "Syne";
	font-style: normal;
	font-weight: 400;
	src: url('./assets/fonts/Syne-Regular.otf') format('woff2');
}

@font-face {
	font-family: "Syne-Extra";
	font-style: normal;
	font-weight: 400;
	src: url('./assets/fonts/Syne-Extra.otf') format('woff2');
}

/*My Variables*/

:root{
    --black: #171717;
	--gray: #707070;
	--lightgray: #C9C9C9;
	--white: #ffffff;
}

*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
}


/* My Background Images */

#MyIDhere{
	background-image: url();
	background-size: cover;
}
#MyIDhere{
	background-image: url();
	background-size: cover;
}
#MyIDhere{
	background-image: url();
	background-size: cover;
}
#MyIDhere{
	background-image: url();
	background-size: cover;
}
#MyIDhere{
	background-image: url();
	background-size: cover;
}
#MyIDhere{
	background-image: url();
	background-size: cover;
}
#MyIDhere{
	background-image: url();
	background-size: cover;
}
#MyIDhere{
	background-image: url();
	background-size: cover;
}
#MyIDhere{
	background-image: url();
	background-size: cover;
}




::-moz-selection { background:var(--black); color: #fff;}
::selection { background:var(--black); color: #fff;}


h1{
	font-family: 'Syne-Extra' ;
	color: var(--black);
	text-decoration: none;
}

h1 a {
	font-family: 'Syne-Extra' ;
	color: var(--black);
	text-decoration: none;
	transition: all 250ms;
}

h1 a:hover {
	color: var(--gray);
	transition: all 250ms;
}

.heroText{
	font-family: 'Syne-Extra' ;
	color: var(--black);
}

.subheader{
	font-family: 'Syne';
	color: var(--gray);
}

.homeLinks{
	font-family: "Syne";
	color: var(--gray);
	text-transform: uppercase;
}

.homeLinks a {
	text-decoration: none;
	color: var(--gray);
	transition: all 250ms;
}

.homeLinks a:hover {
	color: var(--black);
	transition: all 250ms;
}

.sectionHeader{
	font-family: "Syne";
	color: var(--gray);
	text-transform: uppercase;
}

.paragraph{
	font-family: "Syne";
	color: var(--gray);
}

.paragraph a {
	font-family: "Syne";
	color: var(--gray);
	transition: all 250ms;
}

.paragraph a:hover {
	color: var(--black);
	transition: all 250ms;
}

.longParagraph{
	font-family: "Syne";
	color: var(--gray);
}

.prefooterHeadline {
	font-family: "Syne-Extra";
	color: var(--black);
}

.prefooterSectionLink {
	font-family: "Syne";
	color: var(--gray);
}

.prefooterSectionLink a {
	font-family: "Syne";
	color: var(--gray);
	transition: all 250ms;
}

.prefooterSectionLink a:hover {
	color: var(--black);
	transition: all 250ms;
}


.prefooterContact {
	font-family: "Syne";
	color: var(--lightgray);
}

.prefooterContact a {
	font-family: "Syne";
	color: var(--lightgray);
	transition: all 250ms;
	text-decoration: none;
}

.prefooterContact a:hover {
	color: var(--black);
	transition: all 250ms;
	text-decoration: none;
}

.blackBar{
	width: 100%;
	background-color: var(--black);
}


/* small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {
	.headerBar{
		width: 80%;
		padding: 5vh 0 0 2.5vh;
	}

	h1{
		font-size: 19.2px;
	}

	.contentWrapper{
		padding: 0 2.5vh;
	}
	
	.heroText{
		font-size: 73.24px;
		padding: 10vh 0 0 0;
		margin-left: -0.9%;
	}

	.subheader{
		font-size: 19.2px;
		padding: 0 0 25vh 0;
	}

	.homeLinks{
		font-size: 15.36px;
	}

	.homeLinks li {
		margin-bottom: 8px;
		list-style: none;
	}

	.sectionHeader{
		font-size: 19.2px;
	}

	.paragraph{
		font-size: 19.2px;
		padding-bottom: 50px;
	}
}



/* small devices (phones, 480-600px) */
@media only screen and (min-width: 481px) {
	.headerBar{
		width: 50%;
		padding: 5vh 10vh 0 5vh;
	}

	h1{
		font-size: 19.2px;
	}

	.contentWrapper{
		padding: 0 5vh;
	}
	
	.heroText{
		font-size: 5vh;
		padding: 15vh 0 0 0;
		margin-left: -0.9vh;
	}

	.subheader{
		font-size: 24px;
		padding: 0 0 20vh 0;
	}

	.homeLinks{
		font-size: 15.36px;
	}

	.homeLinks li {
		margin-bottom: 8px;
		list-style: none;
	}	
	
	.sectionHeader{
		font-size: 19.2px;
	}

	.paragraph{
		font-size: 24px;
		padding-bottom: 50px;
	}




			/*This styling controls the hover effects on our image blocks*/

		.imageBlockContent{
			position: relative;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.8);
			padding: 0;
			opacity: 1;
			transition: all 250ms;
		}
	
		.imageBlockContent:hover{
			opacity: 1;
			transition: all 250ms;
		}
	
		.imageBlockContent p {
			padding: 4vh;
			color: #fff;
			font-family: 'Syne-Extra';
			font-size: 24px;
			text-transform: uppercase;
			position: absolute;
			bottom: 0;
			  left: 0;
		}
	
	
	
		/*This styling controls image block A*/
	
		.imageGrid{
			width: 100%;
			height: 60vh;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-bottom: 1%;
		}
	
		.A_blockLeft{
			width: 40%;
			height: 100%;
			order: 1;
		}
	
		.A_blockRight{
			width: 59%;
			height: 100%;
			order: 2;
			flex-direction: column;
			display: flex;
			justify-content: space-between;
		}
	
		.imgDoubleRow{
			order:1;
			height: 48%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	
		.A_rowImageOne{
			order:1;
			height: 100%;
			width: 49%;
		}
	
		.A_rowImageTwo{
			order:2;
			height: 100%;
			width: 49%;
		}
	
		.A_imgSingleRow{
			order: 2;
			height: 50%;
			width: 100%;
		}
	
	
	
	
	
		/*This styling controls image block B*/
	
	
		.B_blockLeft{ /*Shows up on Right in this config, see "order" parameter below*/
			order: 2;
			width: 40%;
			height: 100%;
		}
	
		.B_blockRight{ /*Shows up on Left in this config, see "order" parameter below*/
			order: 1;
			width: 59%;
			height: 100%;
			flex-direction: column;
			display: flex;
			justify-content: space-between;
		}
	
		.imgDoubleRow{
			order:1;
			height: 48%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	
		.B_rowImageOne{
			order:1;
			height: 100%;
			width: 49%;
		}
	
		.B_rowImageTwo{
			order:2;
			height: 100%;
			width: 49%;
		}
	
		.B_imgSingleRow{
			order: 2;
			height: 50%;
			width: 100%;
		}
	
	
	
	
	
		/*This styling controls image block C*/
	
	
		.C_blockLeft{
			order: 1;
			width: 40%;
			height: 100%;
		}
	
		.C_blockRight{ 
			order: 2;
			width: 59%;
			height: 100%;
		}
	
	
	
	
	
		/*This styling controls image block D*/
	
	
		.D_blockLeft{ /*Shows up on Right in this config, see "order" parameter below*/
			order: 2;
			width: 40%;
			height: 100%;
		}
	
		.D_blockRight{ /*Shows up on Left in this config, see "order" parameter below*/
			order: 1;
			width: 59%;
			height: 100%;
		}
	
	
	
	
	
		/*This styling controls image block E*/
	
	
		.E_block{
			order: 1;
			width: 100%;
			height: 100%;
		}


	

}








/*__________________________________________________________________________________________*/









/* Small devices (tablet portrait, above 600px) */
@media only screen and (min-width: 601px) {
   

	.headerBar{
		width: 50%;
		padding: 5vh 10vh 0 10vh;
	}

	h1{
		font-size: 19.2px;
	}

	.contentWrapper{
		padding: 0 10vh;
	}
	
	.heroText{
		font-size: 114.44px;
		padding: 15vh 0 0 0;
		margin-left: -0.9vh;
	}

	.subheader{
		font-size: 30px;
		padding: 0 0 20vh 0;
	}

	.homeLinks{
		font-size: 19.2px;
	}

	.homeLinks li {
		margin-bottom: 8px;
		list-style: none;
	}

	.sectionHeader{
		font-size: 19.2px;
		margin: 0 0 5vh 0;
	}

	.paragraph{
		font-size: 30px;
		padding-bottom: 15vh;
	}

	.pIndent{
		font-size: 30px;
		padding:0 0 0vh 15vh;
	}

	.longParagraph{
		font-size: 30px;
		padding: 0 28vh 15vh 0;
	}

	.prefooterHeadline{
		font-size: 30px;
		padding: 15vh 0 2vh 0;
		text-align: center;
		text-transform: uppercase;
		
	}

	.prefooterSectionLink{
		font-size: 30px;
		padding-bottom: 2vh;
		text-align: center;
	}

	.prefooterContact{
		font-size: 15.36px;
		padding-bottom: 5vh;
		text-align: center;
		padding-bottom: 15vh;
	}

	.blackBar{
		height: 5vh;
	}

	.imageBlockContent p {
		font-size: 19.2px;
	}
}















/*__________________________________________________________________________________________*/















/* Medium devices (tablet landscape, above 900px) */
@media only screen and (min-width: 900px) {


	.headerBar{
		width: 50%;
		padding: 5vh 10vh 0 10vh;
	}

	h1{
		font-size: 19.2px;
	}

	.contentWrapper{
		padding: 0 10vh;
	}
	
	.heroText{
		font-size: 119px;
		padding: 15vh 0 0 0;
		margin-left: -0.9vh;
	}

	.subheader{
		font-size: 30px;
		padding: 0 0 30vh 0;
	}

	.homeLinks{
		font-size: 24px;
	}

	.homeLinks li {
		margin-bottom: 8px;
		list-style: none;
	}

	.sectionHeader{
		font-size: 19.2px;
		margin:0 0 5vh 0;
	}

	.paragraph{
		font-size: 30px;
		padding-bottom: 10vh;
	}

	.pIndent{
		font-size: 30px;
		padding:0 0 10vh 10vh;
	}

	.longParagraph{
		font-size: 30px;
		padding: 0 0vh 10vh 0;
	}

	.prefooterHeadline{
		font-size: 30px;
		padding: 15vh 0 2vh 0;
		text-align: center;
		text-transform: uppercase;
		
	}

	.prefooterSectionLink{
		font-size: 30px;
		padding-bottom: 2vh;
		text-align: center;
	}

	.prefooterContact{
		font-size: 15.36px;
		padding-bottom: 5vh;
		text-align: center;
		padding-bottom: 15vh;
	}

	.blackBar{
		height: 5vh;
	}

	.imageBlockContent p {
		font-size: 19.2px;
	}



			/*This styling controls the hover effects on our image blocks*/

			.imageBlockContent{
				position: relative;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.8);
				padding: 0;
				opacity: 1;
				transition: all 250ms;
			}
		
			.imageBlockContent:hover{
				opacity: 1;
				transition: all 250ms;
			}
		
			.imageBlockContent p {
				padding: 4vh;
				color: #fff;
				font-family: 'Syne-Extra';
				font-size: 24px;
				text-transform: uppercase;
				position: absolute;
				bottom: 0;
				  left: 0;
			}
		
		
		
			/*This styling controls image block A*/
		
			.imageGrid{
				width: 100%;
				height: 90vh;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-between;
				margin-bottom: 1%;
			}
		
			.A_blockLeft{
				width: 40%;
				height: 100%;
				order: 1;
			}
		
			.A_blockRight{
				width: 59%;
				height: 100%;
				order: 2;
				flex-direction: column;
				display: flex;
				justify-content: space-between;
			}
		
			.imgDoubleRow{
				order:1;
				height: 48%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
			}
		
			.A_rowImageOne{
				order:1;
				height: 100%;
				width: 49%;
			}
		
			.A_rowImageTwo{
				order:2;
				height: 100%;
				width: 49%;
			}
		
			.A_imgSingleRow{
				order: 2;
				height: 50%;
				width: 100%;
			}
		
		
		
		
		
			/*This styling controls image block B*/
		
		
			.B_blockLeft{ /*Shows up on Right in this config, see "order" parameter below*/
				order: 2;
				width: 40%;
				height: 100%;
			}
		
			.B_blockRight{ /*Shows up on Left in this config, see "order" parameter below*/
				order: 1;
				width: 59%;
				height: 100%;
				flex-direction: column;
				display: flex;
				justify-content: space-between;
			}
		
			.imgDoubleRow{
				order:1;
				height: 48%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
			}
		
			.B_rowImageOne{
				order:1;
				height: 100%;
				width: 49%;
			}
		
			.B_rowImageTwo{
				order:2;
				height: 100%;
				width: 49%;
			}
		
			.B_imgSingleRow{
				order: 2;
				height: 50%;
				width: 100%;
			}
		
		
		
		
		
			/*This styling controls image block C*/
		
		
			.C_blockLeft{
				order: 1;
				width: 40%;
				height: 100%;
			}
		
			.C_blockRight{ 
				order: 2;
				width: 59%;
				height: 100%;
			}
		
		
		
		
		
			/*This styling controls image block D*/
		
		
			.D_blockLeft{ /*Shows up on Right in this config, see "order" parameter below*/
				order: 2;
				width: 40%;
				height: 100%;
			}
		
			.D_blockRight{ /*Shows up on Left in this config, see "order" parameter below*/
				order: 1;
				width: 59%;
				height: 100%;
			}
		
		
		
		
		
			/*This styling controls image block E*/
		
		
			.E_block{
				order: 1;
				width: 100%;
				height: 100%;
			}
}


















/*__________________________________________________________________________________________*/




















/* Standard devices (laptop, above 1200px) */
@media only screen and (min-width: 1200px) {


	.headerBar{
		width: 50%;
		padding: 5vh 10vh 0 10vh;
	}

	h1{
		font-size: 19.2px;
	}

	.contentWrapper{
		padding: 0 10vh;
	}
	
	.heroText{
		font-size: 178px;
		padding: 15vh 0 0 0;
		margin-left: -0.9vh;
	}

	.subheader{
		font-size: 46.88px;
		padding: 0 0 20vh 0;
	}

	.homeLinks{
		font-size: 24px;
	}

	.homeLinks li {
		margin-bottom: 8px;
		list-style: none;
	}
	
	.sectionHeader{
		font-size: 19.2px;
		padding-bottom: 5vh;
	}

	.paragraph{
		font-size: 46.88px;
		padding-bottom: 5vh;
	}


	.pIndent{
		font-size: 46.88px;
		padding:0 0 15vh 20vh;
	}

	.longParagraph{
		font-size: 46.88px;
		padding: 0 28vh 10vh 0;
	}

	.prefooterHeadline{
		font-size: 58.59px;
		padding: 15vh 0 2vh 0;
		text-align: center;
		text-transform: uppercase;
		
	}

	.prefooterSectionLink{
		font-size: 58.59px;
		padding-bottom: 2vh;
		text-align: center;
	}

	.prefooterContact{
		font-size: 15.36px;
		padding-bottom: 5vh;
		text-align: center;
		padding-bottom: 15vh;
	}

	.blackBar{
		height: 5vh;
	}

	.imageBlockContent p {
		font-size: 24px;
	}
}















/*__________________________________________________________________________________________*/



















/* large devices (1080p, above 1600px) */
@media only screen and (min-width: 1800px) {
	.headerBar{
		width: 50%;
		padding: 5vh 10vh 0 10vh;
	}

	h1{
		font-size: 19.2px;
	}

	.contentWrapper{
		padding: 0 10vh;
	}
	
	.heroText{
		font-size: 223.52px;
		padding: 15vh 0 0 0;
		margin-left: -0.9vh;
	}

	.subheader{
		font-size: 58.59px;
		padding: 0 0 20vh 0;
	}

	.homeLinks{
		font-size: 30px;
	}

	.homeLinks li {
		margin-bottom: 8px;
		list-style: none;
	}

	.sectionHeader{
		font-size: 19.2px;
		padding-bottom: 7vh;
	}

	.paragraph{
		font-size: 58.59px;
		padding-bottom: 5vh;
	}
/*Below needs updated on standard & smaller devices*/

	.pIndent{
		font-size: 58.59px;
		padding:0 0 25vh 20vh;
	}

	.longParagraph{
		font-size: 58.59px;
		padding: 0 28vh 5vh 0;
	}

	.prefooterHeadline{
		font-size: 73.24px;
		padding: 15vh 0 2vh 0;
		text-align: center;
		text-transform: uppercase;
		
	}

	.prefooterSectionLink{
		font-size: 58.59px;
		padding-bottom: 2vh;
		text-align: center;
	}

	.prefooterContact{
		font-size: 15.36px;
		padding-bottom: 5vh;
		text-align: center;
		padding-bottom: 15vh;
	}

	.blackBar{
		height: 5vh;
	}


	/*This styling controls the hover effects on our image blocks*/

	.imageBlockContent{
		position: relative;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		padding: 0;
		opacity: 1;
		transition: all 250ms;
	}

	.imageBlockContent:hover{
		opacity: 1;
		transition: all 250ms;
	}

	.imageBlockContent p {
		padding: 4vh;
		color: #fff;
		font-family: 'Syne-Extra';
		font-size: 24px;
		text-transform: uppercase;
		position: absolute;
		bottom: 0;
  		left: 0;
	}



	/*This styling controls image block A*/

	.imageGrid{
		width: 100%;
		height: 90vh;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 1%;
	}

	.A_blockLeft{
		width: 40%;
		height: 100%;
		order: 1;
	}

	.A_blockRight{
		width: 59%;
		height: 100%;
		order: 2;
		flex-direction: column;
		display: flex;
		justify-content: space-between;
	}

	.imgDoubleRow{
		order:1;
		height: 48%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.A_rowImageOne{
		order:1;
		height: 100%;
		width: 49%;
	}

	.A_rowImageTwo{
		order:2;
		height: 100%;
		width: 49%;
	}

	.A_imgSingleRow{
		order: 2;
		height: 50%;
		width: 100%;
	}





	/*This styling controls image block B*/


	.B_blockLeft{ /*Shows up on Right in this config, see "order" parameter below*/
		order: 2;
		width: 40%;
		height: 100%;
	}

	.B_blockRight{ /*Shows up on Left in this config, see "order" parameter below*/
		order: 1;
		width: 59%;
		height: 100%;
		flex-direction: column;
		display: flex;
		justify-content: space-between;
	}

	.imgDoubleRow{
		order:1;
		height: 48%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.B_rowImageOne{
		order:1;
		height: 100%;
		width: 49%;
	}

	.B_rowImageTwo{
		order:2;
		height: 100%;
		width: 49%;
	}

	.B_imgSingleRow{
		order: 2;
		height: 50%;
		width: 100%;
	}





	/*This styling controls image block C*/


	.C_blockLeft{
		order: 1;
		width: 40%;
		height: 100%;
	}

	.C_blockRight{ 
		order: 2;
		width: 59%;
		height: 100%;
	}





	/*This styling controls image block D*/


	.D_blockLeft{ /*Shows up on Right in this config, see "order" parameter below*/
		order: 2;
		width: 40%;
		height: 100%;
	}

	.D_blockRight{ /*Shows up on Left in this config, see "order" parameter below*/
		order: 1;
		width: 59%;
		height: 100%;
	}





	/*This styling controls image block E*/


	.E_block{
		order: 1;
		width: 100%;
		height: 100%;
	}


} 

@keyframes fade-in {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

.fade-in {
	animation: fade-in 400ms ease-out forwards;
}

/* svg {
	position: absolute;
	top: 0;
	right: -50%;
	opacity: .2;
}

path {
	transform-origin: center center;
} */