/* Fonts */
@font-face {
	font-family: "Syne";
	font-style: normal;
	font-weight: 400;
	src: url('./assets/fonts/Syne-Regular.otf') format('woff2');
}

@font-face {
	font-family: "Syne-Extra";
	font-style: normal;
	font-weight: 400;
	src: url('./assets/fonts/Syne-Extra.otf') format('woff2');
}

/*My Variables*/

:root{
    --black: #171717;
	--gray: #707070;
	--lightgray: #C9C9C9;
	--white: #ffffff;
}

*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
}


/* My Background Images */

#aboutHero{
	background-image: url(./assets/images/about-HeroImage.jpg);
	background-size: cover;
}

#pmHero{
	background-image: url(./assets/images/about-HeroImage.jpg);
	background-size: cover;
}

#designHero{
	background-image: url(./assets/images/about-HeroImage.jpg);
	background-size: cover;
}

#renderHero{
	background-image: url(./assets/images/about-HeroImage.jpg);
	background-size: cover;
}


/*About Images*/
#aboutImg1{
	background-image: url(./assets/images/about/LucasHat.jpg);
	background-size: cover;
}

#aboutImg2{
	background-image: url(./assets/images/about/babyLucas.jpg);
	background-size: cover;
}

#aboutImg3{
	background-image: url(./assets/images/about/lucasDerp.jpg);
	background-size: cover;
}

#aboutImg4{
	background-image: url(./assets/images/about/carWindow.jpg);
	background-size: cover;
}











::-moz-selection { background:var(--black); color: #fff;}
::selection { background:var(--black); color: #fff;}


h1{
	font-family: 'Syne-Extra' ;
	color: var(--black);
	text-decoration: none;
}

h1 a {
	font-family: 'Syne-Extra' ;
	color: var(--black);
	text-decoration: none;
	transition: all 250ms;
}

h1 a:hover {
	color: var(--gray);
	transition: all 250ms;
}

.heroText{
	font-family: 'Syne-Extra' ;
	color: var(--black);
}

.subheader{
	font-family: 'Syne';
	color: var(--gray);
}

.homeLinks{
	font-family: "Syne";
	color: var(--gray);
	text-transform: uppercase;
}

.homeLinks a {
	text-decoration: none;
	color: var(--gray);
	transition: all 250ms;
}

.homeLinks a:hover {
	color: var(--black);
	transition: all 250ms;
}

.sectionHeader{
	font-family: "Syne";
	color: var(--gray);
	text-transform: uppercase;
}

.paragraph{
	font-family: "Syne";
	color: var(--gray);
}

.paragraph a {
	font-family: "Syne";
	color: var(--gray);
	transition: all 250ms;
}

.paragraph a:hover {
	color: var(--black);
	transition: all 250ms;
}

.longParagraph{
	font-family: "Syne";
	color: var(--gray);
}

.prefooterHeadline {
	font-family: "Syne-Extra";
	color: var(--black);
}

.prefooterSectionLink {
	font-family: "Syne";
	color: var(--gray);
}

.prefooterSectionLink a {
	font-family: "Syne";
	color: var(--gray);
	transition: all 250ms;
}

.prefooterSectionLink a:hover {
	color: var(--black);
	transition: all 250ms;
}


.prefooterContact {
	font-family: "Syne";
	color: var(--lightgray);
}

.prefooterContact a {
	font-family: "Syne";
	color: var(--lightgray);
	transition: all 250ms;
	text-decoration: none;
}

.prefooterContact a:hover {
	color: var(--black);
	transition: all 250ms;
	text-decoration: none;
}

.blackBar{
	width: 100%;
	background-color: var(--black);
}







/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*________________New Media Query Starts here New Media Query Starts here___________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/









/* small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {

	.pageHeroImage{
		width: 40%;
		height: 30vh;
		position: absolute;
		top: 10%;
		right: 0;
		z-index: -9999;
	}


	.headerBar{
		width: 80%;
		padding: 5vh 0 0 5%;
	}

	h1{
		font-size: 16px;
	}

	.contentWrapper{
		padding: 0 5%;
	}
	
	.heroText{
		font-size: 31px;
		padding: 15vh 0 0 0;
		margin-left: -0.5%;
	}

	.subheader{
		font-size: 19.2px;
		padding: 0 0 15vh 0;
	}

	.homeLinks{
		font-size: 15.36px;
	}

	.homeLinks li {
		margin-bottom: 8px;
		list-style: none;
	}

	.sectionHeader{
		font-size: 19.2px;
		margin-bottom: 3vh;
	}

	.paragraph{
		font-size: 15px;
		line-height: 150%;
		padding-bottom: 3vh;
	}

	.pIndent{
		padding-left: 5%;
	}

	.longParagraph{
		font-size: 15px;
		line-height: 150%;
		padding-bottom: 0vh;
	}

	.paragraphRow{
		padding-bottom: 9vh;

	}

	/*This styling controls the hover effects on our image blocks*/



	.imageBlockContent{
		position: relative;
		width: 100%;
		height: 100%;
		background-color: none;
		padding: 0;
		opacity: 1;
	}

	.labelPadder{
		width: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		position: absolute;
		bottom: 0;
		left: 0;
	}

	.imageBlockContent p {
		
		color: #fff;
		font-family: 'Syne-Extra';
		text-transform: uppercase;
		font-size: 12px;
		padding: 2vh;
		
	}




	/*This styling controls image block A*/

	.imageGrid{
		width: 100%;
		height: 70vh;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 2%;
	}

	.A_blockLeft{
		order: 1;
		width: 100%;
		height: 49.5%;
	}

	.A_blockRight{
		order: 2;
		width: 100%;
		height: 49.5%;
		flex-direction: column;
		display: flex;
		justify-content: space-between;
	}

	.imgDoubleRow{
		order:1;
		height: 49%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.A_rowImageOne{
		order:1;
		height: 100%;
		width: 49%;
	}

	.A_rowImageTwo{
		order:2;
		height: 100%;
		width: 49%;
	}

	.A_imgSingleRow{
		order: 2;
		height: 50%;
		width: 100%;
	}





	/*This styling controls image block B*/


	.B_blockLeft{ /*Shows up on Right in this config, see "order" parameter below*/
		order: 2;
		width: 100%;
		height: 49.5%;
	}

	.B_blockRight{ /*Shows up on Left in this config, see "order" parameter below*/
		order: 1;
		width: 100%;
		height: 49.5%;
		flex-direction: column;
		display: flex;
		justify-content: space-between;
	}

	.imgDoubleRow{
		order:1;
		height: 48%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.B_rowImageOne{
		order:1;
		height: 100%;
		width: 49%;
	}

	.B_rowImageTwo{
		order:2;
		height: 100%;
		width: 49%;
	}

	.B_imgSingleRow{
		order: 2;
		height: 50%;
		width: 100%;
	}





	/*This styling controls image block C*/


	.C_blockLeft{
		order: 1;
		width: 100%;
		height: 49.5%;
	}

	.C_blockRight{ 
		order: 2;
		width: 100%;
		height: 49.5%;
	}





	/*This styling controls image block D*/


	.D_blockLeft{ /*Shows up on Right in this config, see "order" parameter below*/
		order: 2;
		width: 100%;
		height: 49.5%;
	}

	.D_blockRight{ /*Shows up on Left in this config, see "order" parameter below*/
		order: 1;
		width: 100%;
		height: 49.5%;
	}





	/*This styling controls image block E*/


	.E_block{
		order: 1;
		width: 100%;
		height: 100%;
	}




	.prefooterHeadline{
		font-size: 16px;
		padding: 5vh 0 2vh 0;
		text-align: center;
		text-transform: uppercase;
		
	}

	.prefooterSectionLink{
		font-size: 24px;
		padding-bottom: 2vh;
		text-align: center;
	}

	.prefooterContact{
		font-size: 15.36px;
		padding-bottom: 5vh;
		text-align: center;
		padding-bottom: 5vh;
	}

	.blackBar{
		height: 5vh;
	}



}












/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*________________New Media Query Starts here New Media Query Starts here___________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/













/* small devices (phones, 480-600px) */
@media only screen and (min-width: 481px) {

	.pageHeroImage{
		width: 40%;
		height: 40vh;
		position: absolute;
		top: 10%;
		right: 0;
		z-index: -9999;
	}

	.headerBar{
		width: 80%;
		padding: 5vh 0 0 5%;
	}

	h1{
		font-size: 19.2px;
	}

	.contentWrapper{
		padding: 0 5%;
	}
	
	.heroText{
		font-size: 39px;
		padding: 20vh 0 0 0;
		margin-left: -0.5%;
	}

	.subheader{
		font-size: 19.2px;
		padding: 0 0 20vh 0;
	}

	.homeLinks{
		font-size: 19.2px;
	}

	.homeLinks li {
		margin-bottom: 8px;
		list-style: none;
	}

	.sectionHeader{
		font-size: 19.2px;
		margin-bottom: 3vh;
	}

	.paragraph{
		font-size: 19.2px;
		line-height: 150%;
		padding-bottom: 3vh;
	}

	.pIndent{
		padding-left: 5%;
	}

	.longParagraph{
		font-size: 19.2px;
		line-height: 150%;
		padding: 0 5vh 1vh 0;
	}

	.paragraphRow{
		padding-bottom: 9vh;

	}

	/*This styling controls the hover effects on our image blocks*/



	.imageBlockContent{
		position: relative;
		width: 100%;
		height: 100%;
		background-color: none;
		padding: 0;
		opacity: 1;
	}

	.labelPadder{
		width: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		position: absolute;
		bottom: 0;
		left: 0;
	}

	.imageBlockContent p {
		
		color: #fff;
		font-family: 'Syne-Extra';
		text-transform: uppercase;
		font-size: 12px;
		padding: 2vh;
		
	}




	/*This styling controls image block A*/

	.imageGrid{
		width: 100%;
		height: 70vh;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 2%;
	}

	.A_blockLeft{
		order: 1;
		width: 100%;
		height: 49.5%;
	}

	.A_blockRight{
		order: 2;
		width: 100%;
		height: 49.5%;
		flex-direction: column;
		display: flex;
		justify-content: space-between;
	}

	.imgDoubleRow{
		order:1;
		height: 49%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.A_rowImageOne{
		order:1;
		height: 100%;
		width: 49%;
	}

	.A_rowImageTwo{
		order:2;
		height: 100%;
		width: 49%;
	}

	.A_imgSingleRow{
		order: 2;
		height: 50%;
		width: 100%;
	}





	/*This styling controls image block B*/


	.B_blockLeft{ /*Shows up on Right in this config, see "order" parameter below*/
		order: 2;
		width: 100%;
		height: 49.5%;
	}

	.B_blockRight{ /*Shows up on Left in this config, see "order" parameter below*/
		order: 1;
		width: 100%;
		height: 49.5%;
		flex-direction: column;
		display: flex;
		justify-content: space-between;
	}

	.imgDoubleRow{
		order:1;
		height: 48%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.B_rowImageOne{
		order:1;
		height: 100%;
		width: 49%;
	}

	.B_rowImageTwo{
		order:2;
		height: 100%;
		width: 49%;
	}

	.B_imgSingleRow{
		order: 2;
		height: 50%;
		width: 100%;
	}





	/*This styling controls image block C*/


	.C_blockLeft{
		order: 1;
		width: 100%;
		height: 49.5%;
	}

	.C_blockRight{ 
		order: 2;
		width: 100%;
		height: 49.5%;
	}





	/*This styling controls image block D*/


	.D_blockLeft{ /*Shows up on Right in this config, see "order" parameter below*/
		order: 2;
		width: 100%;
		height: 49.5%;
	}

	.D_blockRight{ /*Shows up on Left in this config, see "order" parameter below*/
		order: 1;
		width: 100%;
		height: 49.5%;
	}





	/*This styling controls image block E*/


	.E_block{
		order: 1;
		width: 100%;
		height: 100%;
	}




	.prefooterHeadline{
		font-size: 19.2px;
		padding: 5vh 0 2vh 0;
		text-align: center;
		text-transform: uppercase;
		
	}

	.prefooterSectionLink{
		font-size: 24px;
		padding-bottom: 2vh;
		text-align: center;
	}

	.prefooterContact{
		font-size: 19.2px;
		padding-bottom: 5vh;
		text-align: center;
		padding-bottom: 5vh;
	}

	.blackBar{
		height: 5vh;
	}

}








/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*________________New Media Query Starts here New Media Query Starts here___________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/









/* Small devices (tablet portrait, above 600px) */
@media only screen and (min-width: 601px) {
   
	.pageHeroImage{
		width: 40%;
		height: 40vh;
		position: absolute;
		top: 10%;
		right: 0;
		z-index: -9999;
	}

	.headerBar{
		width: 80%;
		padding: 5vh 0 0 5%;
	}

	h1{
		font-size: 19.2px;
	}

	.contentWrapper{
		padding: 0 5%;
	}
	
	.heroText{
		font-size: 48px;
		padding: 20vh 0 0 0;
		margin-left: -0.5%;
	}

	.subheader{
		font-size: 24px;
		padding: 0 0 20vh 0;
	}

	.homeLinks{
		font-size: 24px;
	}

	.homeLinks li {
		margin-bottom: 8px;
		list-style: none;
	}

	.sectionHeader{
		font-size: 24px;
		margin-bottom: 4vh;
	}

	.paragraph{
		font-size: 24px;
		line-height: 150%;
		padding-bottom: 4vh;
	}

	.pIndent{
		padding-left: 7.5%;
	}

	.longParagraph{
		font-size: 24px;
		line-height: 150%;
		padding: 0 15vh 0vh 0;
	}

	.paragraphRow{
		padding-bottom: 12vh;

	}

	/*This styling controls the hover effects on our image blocks*/



	.imageBlockContent{
		position: relative;
		width: 100%;
		height: 100%;
		background-color: none;
		padding: 0;
		opacity: 1;
	}

	.labelPadder{
		width: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		position: absolute;
		bottom: 0;
		left: 0;
	}

	.imageBlockContent p {
		
		color: #fff;
		font-family: 'Syne-Extra';
		text-transform: uppercase;
		font-size: 12px;
		padding: 2vh;
		
	}




	/*This styling controls image block A*/

	.imageGrid{
		width: 100%;
		height: 90vh;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 2%;
	}

	.A_blockLeft{
		order: 1;
		width: 100%;
		height: 49.5%;
	}

	.A_blockRight{
		order: 2;
		width: 100%;
		height: 49.5%;
		flex-direction: column;
		display: flex;
		justify-content: space-between;
	}

	.imgDoubleRow{
		order:1;
		height: 49%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.A_rowImageOne{
		order:1;
		height: 100%;
		width: 49%;
	}

	.A_rowImageTwo{
		order:2;
		height: 100%;
		width: 49%;
	}

	.A_imgSingleRow{
		order: 2;
		height: 50%;
		width: 100%;
	}





	/*This styling controls image block B*/


	.B_blockLeft{ /*Shows up on Right in this config, see "order" parameter below*/
		order: 2;
		width: 100%;
		height: 49.5%;
	}

	.B_blockRight{ /*Shows up on Left in this config, see "order" parameter below*/
		order: 1;
		width: 100%;
		height: 49.5%;
		flex-direction: column;
		display: flex;
		justify-content: space-between;
	}

	.imgDoubleRow{
		order:1;
		height: 48%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.B_rowImageOne{
		order:1;
		height: 100%;
		width: 49%;
	}

	.B_rowImageTwo{
		order:2;
		height: 100%;
		width: 49%;
	}

	.B_imgSingleRow{
		order: 2;
		height: 50%;
		width: 100%;
	}





	/*This styling controls image block C*/


	.C_blockLeft{
		order: 1;
		width: 100%;
		height: 49.5%;
	}

	.C_blockRight{ 
		order: 2;
		width: 100%;
		height: 49.5%;
	}





	/*This styling controls image block D*/


	.D_blockLeft{ /*Shows up on Right in this config, see "order" parameter below*/
		order: 2;
		width: 100%;
		height: 49.5%;
	}

	.D_blockRight{ /*Shows up on Left in this config, see "order" parameter below*/
		order: 1;
		width: 100%;
		height: 49.5%;
	}





	/*This styling controls image block E*/


	.E_block{
		order: 1;
		width: 100%;
		height: 100%;
	}




	.prefooterHeadline{
		font-size: 19.2px;
		padding: 5vh 0 2vh 0;
		text-align: center;
		text-transform: uppercase;
		
	}

	.prefooterSectionLink{
		font-size: 24px;
		padding-bottom: 2vh;
		text-align: center;
	}

	.prefooterContact{
		font-size: 19.2px;
		padding-bottom: 5vh;
		text-align: center;
		padding-bottom: 5vh;
	}

	.blackBar{
		height: 5vh;
	}
}












/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*________________New Media Query Starts here New Media Query Starts here___________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/











/* Medium devices (tablet landscape, above 900px) */
@media only screen and (min-width: 900px) {

	.pageHeroImage{
		width: 50%;
		height: 50vh;
		position: absolute;
		top: 20%;
		right: 0;
		z-index: -9999;
	}


	.headerBar{
		width: 50%;
		padding: 5vh 10vh 0 10vh;
	}

	h1{
		font-size: 19.2px;
	}

	.contentWrapper{
		padding: 0 10vh;
	}
	
	.heroText{
		font-size: 61px;
		padding: 25vh 0 0 0;
		margin-left: -0.9vh;
	}

	.subheader{
		font-size: 30px;
		padding: 0 0 25vh 0;
	}

	.homeSubheader{
		padding: 0 0 15vh 0;
	}

	.homeLinks{
		font-size: 24px;
	}

	.homeLinks li {
		margin-bottom: 8px;
		list-style: none;
	}

	.sectionHeader{
		font-size: 19.2px;
		margin: 1vh 0 8vh 0;
	}

	.paragraph{
		font-size: 30px;
		padding-bottom: 8vh;
	}

	.pIndent{
		padding:0 0 0 8vh;
	}

	.longParagraph{
		font-size: 30px;
		padding: 0 0 2vh 0;
	}

	.paragraphRow{
		padding-bottom: 2vh;
	}

	.prefooterHeadline{
		font-size: 30px;
		padding: 5vh 0 2vh 0;
		text-align: center;
		text-transform: uppercase;
		
	}

	.prefooterSectionLink{
		font-size: 30px;
		padding-bottom: 2vh;
		text-align: center;
	}

	.prefooterContact{
		font-size: 15.36px;
		padding-bottom: 5vh;
		text-align: center;
		padding-bottom: 5vh;
	}

	.blackBar{
		height: 5vh;
	}

	.imageBlockContent p {
		font-size: 19.2px;
	}



	/*This styling controls the hover effects on our image blocks*/

	.imageBlockContent{
		position: relative;
		width: 100%;
		height: 100%;
		background-color: none;
		padding: 0;
		opacity: 1;
	}

	.labelPadder{
		width: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		position: absolute;
		bottom: 0;
		left: 0;
	}

	.imageBlockContent p {
		
		color: #fff;
		font-family: 'Syne-Extra';
		text-transform: uppercase;
		font-size: 15px;
		padding: 4vh;
		
	}



	/*This styling controls image block A*/

	.imageGrid{
		width: 100%;
		height: 70vh;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 1%;
	}

	.A_blockLeft{
		width: 40%;
		height: 100%;
		order: 1;
	}

	.A_blockRight{
		width: 59%;
		height: 100%;
		order: 2;
		flex-direction: column;
		display: flex;
		justify-content: space-between;
	}

	.imgDoubleRow{
		order:1;
		height: 49%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.A_rowImageOne{
		order:1;
		height: 100%;
		width: 49%;
	}

	.A_rowImageTwo{
		order:2;
		height: 100%;
		width: 49%;
	}

	.A_imgSingleRow{
		order: 2;
		height: 50%;
		width: 100%;
	}





	/*This styling controls image block B*/


	.B_blockLeft{ /*Shows up on Right in this config, see "order" parameter below*/
		order: 2;
		width: 40%;
		height: 100%;
	}

	.B_blockRight{ /*Shows up on Left in this config, see "order" parameter below*/
		order: 1;
		width: 59%;
		height: 100%;
		flex-direction: column;
		display: flex;
		justify-content: space-between;
	}

	.imgDoubleRow{
		order:1;
		height: 48%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.B_rowImageOne{
		order:1;
		height: 100%;
		width: 49%;
	}

	.B_rowImageTwo{
		order:2;
		height: 100%;
		width: 49%;
	}

	.B_imgSingleRow{
		order: 2;
		height: 50%;
		width: 100%;
	}





	/*This styling controls image block C*/


	.C_blockLeft{
		order: 1;
		width: 40%;
		height: 100%;
	}

	.C_blockRight{ 
		order: 2;
		width: 59%;
		height: 100%;
	}





	/*This styling controls image block D*/


	.D_blockLeft{ /*Shows up on Right in this config, see "order" parameter below*/
		order: 2;
		width: 40%;
		height: 100%;
	}

	.D_blockRight{ /*Shows up on Left in this config, see "order" parameter below*/
		order: 1;
		width: 59%;
		height: 100%;
	}





	/*This styling controls image block E*/


	.E_block{
		order: 1;
		width: 100%;
		height: 100%;
	}
}














/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*________________New Media Query Starts here New Media Query Starts here___________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/















/* Standard devices (laptop, above 1200px) */
@media only screen and (min-width: 1200px) {


	.pageHeroImage{
		width: 43%;
		height: 70vh;
		position: absolute;
		top: 10%;
		right: 0%;
		z-index: -9999;
	}

	.headerBar{
		width: 50%;
		padding: 5vh 10vh 0 10vh;
	}

	h1{
		font-size: 24px;
	}

	.contentWrapper{
		padding: 0 10vh;
	}
	
	.heroText{
		font-size: 96px;
		padding: 25vh 0 0 0;
		margin-left: -0.9vh;
	}

	.subheader{
		font-size: 46.88px;
		padding: 0 0 40vh 0;
	}

	.homeSubheader{
		padding: 0 0 15vh 0;
	}

	.homeLinks{
		font-size: 24px;
	}

	.homeLinks li {
		margin-bottom: 8px;
		list-style: none;
	}
	
	.sectionHeader{
		font-size: 24px;
	}

	.paragraph{
		font-size: 31px;
		padding-bottom: 5vh;
	}

	.paragraphRow{
		padding-bottom: 10vh;

	}


	.pIndent{
		font-size: 31px;
		padding:0 0 0 10vh;
	}

	.longParagraph{
		font-size: 31px;
		padding: 0 10vh 0 0;
	}

	.prefooterHeadline{
		font-size: 58.59px;
		padding: 5vh 0 2vh 0;
		text-align: center;
		text-transform: uppercase;
		
	}

	.prefooterSectionLink{
		font-size: 58.59px;
		padding-bottom: 2vh;
		text-align: center;
	}

	.prefooterContact{
		font-size: 24px;
		text-align: center;
		padding-bottom: 5vh;
	}

	.blackBar{
		height: 5vh;
	}

	.imageBlockContent p {
		font-size: 24px;
	}







	/*This styling controls the hover effects on our image blocks*/

	.imageBlockContent{
		position: relative;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		padding: 0;
		opacity: 0;
		transition: all 250ms;
	}

	.imageBlockContent:hover{
		opacity: 1;
		transition: all 250ms;
	}

	.imageBlockContent p {
		padding: 4vh;
		color: #fff;
		font-family: 'Syne-Extra';
		font-size: 19.2px;
		text-transform: uppercase;
		position: absolute;
		bottom: 0;
  		left: 0;
	}



	/*This styling controls image block A*/

	.imageGrid{
		width: 100%;
		height: 90vh;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 1%;
	}

	.A_blockLeft{
		width: 40%;
		height: 100%;
		order: 1;
	}

	.A_blockRight{
		width: 59%;
		height: 100%;
		order: 2;
		flex-direction: column;
		display: flex;
		justify-content: space-between;
	}

	.imgDoubleRow{
		order:1;
		height: 48%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.A_rowImageOne{
		order:1;
		height: 100%;
		width: 49%;
	}

	.A_rowImageTwo{
		order:2;
		height: 100%;
		width: 49%;
	}

	.A_imgSingleRow{
		order: 2;
		height: 50%;
		width: 100%;
	}





	/*This styling controls image block B*/


	.B_blockLeft{ /*Shows up on Right in this config, see "order" parameter below*/
		order: 2;
		width: 40%;
		height: 100%;
	}

	.B_blockRight{ /*Shows up on Left in this config, see "order" parameter below*/
		order: 1;
		width: 59%;
		height: 100%;
		flex-direction: column;
		display: flex;
		justify-content: space-between;
	}

	.imgDoubleRow{
		order:1;
		height: 48%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.B_rowImageOne{
		order:1;
		height: 100%;
		width: 49%;
	}

	.B_rowImageTwo{
		order:2;
		height: 100%;
		width: 49%;
	}

	.B_imgSingleRow{
		order: 2;
		height: 50%;
		width: 100%;
	}





	/*This styling controls image block C*/


	.C_blockLeft{
		order: 1;
		width: 40%;
		height: 100%;
	}

	.C_blockRight{ 
		order: 2;
		width: 59%;
		height: 100%;
	}





	/*This styling controls image block D*/


	.D_blockLeft{ /*Shows up on Right in this config, see "order" parameter below*/
		order: 2;
		width: 40%;
		height: 100%;
	}

	.D_blockRight{ /*Shows up on Left in this config, see "order" parameter below*/
		order: 1;
		width: 59%;
		height: 100%;
	}





	/*This styling controls image block E*/


	.E_block{
		order: 1;
		width: 100%;
		height: 100%;
	}
}











/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*________________New Media Query Starts here New Media Query Starts here___________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/














/* large devices (1080p, above 1600px) */
@media only screen and (min-width: 1640px) {


	.pageHeroImage{
		width: 40%;
		height: 80vh;
		position: absolute;
		top: 20%;
		right: 0;
		z-index: -9999;
	}



	.headerBar{
		width: 50%;
		padding: 5vh 10vh 0 10vh;
	}

	h1{
		font-size: 19.2px;
	}

	.contentWrapper{
		padding: 0 10vh;
	}
	
	.heroText{
		font-size: 119px;
		padding: 25vh 0 0 0;
		margin-left: -0.9vh;
	}


	.subheader{
		font-size: 58.59px;
		padding: 0 0 60vh 0;
	}

	.homeSubheader{
		padding: 0 0 15vh 0;
	}

	.homeLinks{
		font-size: 30px;
	}

	.homeLinks li {
		margin-bottom: 8px;
		list-style: none;
	}

	.sectionHeader{
		font-size: 24px;
		padding-bottom: 5vh;
	}

	.paragraph{
		font-size: 39px;
		padding-bottom: 15vh;
		line-height: 150%;
	}

	.paragraphRow{
		padding-bottom: 10vh;

	}

	.pIndent{
		font-size: 39px;
		padding:0 0 0 10vh;
	}

	.longParagraph{
		font-size: 39px;
		padding: 0 20vh 3vh 0;
	}

	.prefooterHeadline{
		font-size: 73.24px;
		padding: 10vh 0 2vh 0;
		text-align: center;
		text-transform: uppercase;
		
	}

	.prefooterSectionLink{
		font-size: 58.59px;
		padding-bottom: 2vh;
		text-align: center;
	}

	.prefooterContact{
		font-size: 15.36px;
		padding-bottom: 5vh;
		text-align: center;
		padding-bottom: 10vh;
	}

	.blackBar{
		height: 5vh;
	}


	/*This styling controls the hover effects on our image blocks*/

	.imageBlockContent{
		position: relative;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		padding: 0;
		opacity: 0;
		transition: all 250ms;
	}

	.imageBlockContent:hover{
		opacity: 1;
		transition: all 250ms;
	}

	.imageBlockContent p {
		padding: 4vh;
		color: #fff;
		font-family: 'Syne-Extra';
		font-size: 24px;
		text-transform: uppercase;
		position: absolute;
		bottom: 0;
  		left: 0;
	}



	/*This styling controls image block A*/

	.imageGrid{
		width: 100%;
		height: 90vh;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 1%;
	}

	.A_blockLeft{
		width: 40%;
		height: 100%;
		order: 1;
	}

	.A_blockRight{
		width: 59%;
		height: 100%;
		order: 2;
		flex-direction: column;
		display: flex;
		justify-content: space-between;
	}

	.imgDoubleRow{
		order:1;
		height: 48%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.A_rowImageOne{
		order:1;
		height: 100%;
		width: 49%;
	}

	.A_rowImageTwo{
		order:2;
		height: 100%;
		width: 49%;
	}

	.A_imgSingleRow{
		order: 2;
		height: 50%;
		width: 100%;
	}





	/*This styling controls image block B*/


	.B_blockLeft{ /*Shows up on Right in this config, see "order" parameter below*/
		order: 2;
		width: 40%;
		height: 100%;
	}

	.B_blockRight{ /*Shows up on Left in this config, see "order" parameter below*/
		order: 1;
		width: 59%;
		height: 100%;
		flex-direction: column;
		display: flex;
		justify-content: space-between;
	}

	.imgDoubleRow{
		order:1;
		height: 48%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.B_rowImageOne{
		order:1;
		height: 100%;
		width: 49%;
	}

	.B_rowImageTwo{
		order:2;
		height: 100%;
		width: 49%;
	}

	.B_imgSingleRow{
		order: 2;
		height: 50%;
		width: 100%;
	}





	/*This styling controls image block C*/


	.C_blockLeft{
		order: 1;
		width: 40%;
		height: 100%;
	}

	.C_blockRight{ 
		order: 2;
		width: 59%;
		height: 100%;
	}





	/*This styling controls image block D*/


	.D_blockLeft{ /*Shows up on Right in this config, see "order" parameter below*/
		order: 2;
		width: 40%;
		height: 100%;
	}

	.D_blockRight{ /*Shows up on Left in this config, see "order" parameter below*/
		order: 1;
		width: 59%;
		height: 100%;
	}





	/*This styling controls image block E*/


	.E_block{
		order: 1;
		width: 100%;
		height: 100%;
	}


} 

@keyframes fade-in {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

.fade-in {
	animation: fade-in 400ms ease-out forwards;
}

/* svg {
	position: absolute;
	top: 0;
	right: -50%;
	opacity: .2;
}

path {
	transform-origin: center center;
} */