/* Fonts */
@font-face {
	font-family: "Syne";
	font-style: normal;
	font-weight: 400;
	src: url('./assets/fonts/Syne-Regular.otf') format('woff2');
}

@font-face {
	font-family: "Syne-Extra";
	font-style: normal;
	font-weight: 400;
	src: url('./assets/fonts/Syne-Extra.otf') format('woff2');
}

/*My Variables*/

:root{
    --black: #171717;
	--gray: #707070;
	--lightgray: #C9C9C9;
	--white: #ffffff;
}

*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
}


/* My Background Images */

#aboutHero{
	background-image: url(./assets/images/about-HeroImage.jpg);
	background-size: cover;
}

#pmHero{
	background-image: url(./assets/images/pm-HeroImage.jpg);
	background-size: cover;
}

#designHero{
	background-image: url(./assets/images/design-HeroImage.jpg);
	background-size: cover;
}

#experiencesHero{
	background-image: url(./assets/images/experiences-HeroImage.jpg);
	background-size: cover;
}

#homeHero{
	background-image: url(./assets/images/homeHero.jpg);
	background-size: cover;
}

#ceramicsHero{
	background-image: url(./assets/images/ceramicsHero.JPG);
	background-size: cover;
}

/*About Images*/
#aboutImg1{
	background-image: url(./assets/images/about-LucasHat.jpg);
	background-size: cover;
}
 
#aboutImg2{
	background-image: url(./assets/images/about-babyLucas.jpg);
	background-size: cover;
}

#aboutImg3{
	background-image: url(./assets/images/about-lucasDerp.jpg);
	background-size: cover;
}

#aboutImg4{
	background-image: url(./assets/images/about-carWindow.jpg);
	background-size: cover;
}



/*Experiences Images*/
#expImage1{
	background-image: url(./assets/images/experiences-park-mark.jpg);
	background-size: cover;
}

#expImage2{
	background-image: url(./assets/images/experiences-hammock-area.jpg);
	background-size: cover;
}

#expImage3{
	background-image: url(./assets/images/experiences-video-wall.jpg);
	background-size: cover;
}

#expImage4{
	background-image: url(./assets/images/experiences-top-down.jpg);
	background-size: cover;
}

#expBlockDImg1{
	background-image: url(./assets/images/experiences-nasa.jpg);
	background-size: cover;
}

#expBlockDImg2{
	background-image: url(./assets/images/experiences-zoom-out.jpg);
	background-size: cover;
}


#expBlockAImg1{
	background-image: url(./assets/images/experiences-under-lights.jpg);
	background-size: cover;
}
 
#expBlockAImg2{
	background-image: url(./assets/images/exp-sat-one.jpg);
	background-size: cover;
}

#expBlockAImg3{
	background-image: url(./assets/images/exp-sat-two.jpg);
	background-size: cover;
}

#expBlockAImg4{
	background-image: url(./assets/images/experiences-second-fl.jpg);
	background-size: cover;
}


#expBlockE1{
	background-image: url(./assets/images/exp-ksc-nike.jpg);
	background-size: cover;
}


#expB2-1{
	background-image: url(./assets/images/exp-cube-4.jpg);
	background-size: cover;
}

#expB2-2{
	background-image: url(./assets/images/exp-cube-1.jpg);
	background-size: cover;
}

#expB2-3{
	background-image: url(./assets/images/exp-cube-2.jpg);
	background-size: cover;
}

#expB2-4{
	background-image: url(./assets/images/exp-cube-3.jpg);
	background-size: cover;
}

#expC_blockLeft{
	background-image: url(./assets/images/exp-pride-mac.jpg);
	background-size: cover;
}

#expC_blockRight{
	background-image: url(./assets/images/exp-pride-pic.jpg);
	background-size: cover;
}


/*Designs Images*/

#designImage1{
	background-image: url(./assets/images/design-ascend-pattern.jpg);
	background-size: cover;
}

#designImage2{
	background-image: url(./assets/images/design-makecoolshit.gif);
	background-size: cover;
}

#designImage3{
	background-image: url(./assets/images/design-photo-1.jpg);
	background-size: cover;
}

#designImage4{
	background-image: url(./assets/images/design-identity.jpg);
	background-size: cover;
}

#designImage5{
	background-image: url(./assets/images/design-site.jpg);
	background-size: cover;
}

#designImage6{
	background-image: url(./assets/images/design-photo-2.jpg);
	background-size: cover;
}

#designImage7{
	background-image: url(./assets/images/design-cup.jpg);
	background-size: cover;
}

#designImage8{
	background-image: url(./assets/images/design-brand-book.jpg);
	background-size: cover;
}

#designImage9{
	background-image: url(./assets/images/design-pokemon.jpg);
	background-size: cover;
}





/*PM Images*/

#pmImage1{
	background-image: url(./assets/images/pmImage2.jpg);
	background-size: cover;
}

#pmImage2{
	background-image: url(./assets/images/pmImage1.jpg);
	background-size: cover;
}

#pmImage3{
	background-image: url(./assets/images/pmImage3.jpg);
	background-size: cover;
}

#pmImage4{
	background-image: url(./assets/images/pmImage4.jpg);
	background-size: cover;
}

#pmImage5{
	background-image: url(./assets/images/pmImage5.jpg);
	background-size: cover;
}

#pmImage6{
	background-image: url(./assets/images/pmImage6.jpg);
	background-size: cover;
}

#pmImage7{
	background-image: url(./assets/images/pmImage10.jpg);
	background-size: cover;
}

#pmImage8{
	background-image: url(./assets/images/pmImage7.jpg);
	background-size: cover;
}

#pmImage9{
	background-image: url(./assets/images/pmImage8.jpg);
	background-size: cover;
}

#pmImage10{
	background-image: url(./assets/images/pmImage9.jpg);
	background-size: cover;
}


/*Ceramics Images*/

#ceramicsImage1{
	background-image: url(./assets/images/ceramics7.JPG);
	background-size: cover;
}

#ceramicsImage2{
	background-image: url(./assets/images/ceramics12.JPG);
	background-size: cover;
}

#ceramicsImage3{
	background-image: url(./assets/images/ceramics18.JPG);
	background-size: cover;
}

#ceramicsImage4{
	background-image: url(./assets/images/ceramics20.JPG);
	background-size: cover;
}

#ceramicsImage5{
	background-image: url(./assets/images/ceramics8.JPG);
	background-size: cover;
}

#ceramicsImage6{
	background-image: url(./assets/images/ceramics11.JPG);
	background-size: cover;
}

#ceramicsImage7{
	background-image: url(./assets/images/ceramics13.JPG);
	background-size: cover;
}

#ceramicsImage8{
	background-image: url(./assets/images/ceramics14.JPG);
	background-size: cover;
}

#ceramicsImage9{
	background-image: url(./assets/images/ceramics16.JPG);
	background-size: cover;
}

#ceramicsImage10{
	background-image: url(./assets/images/ceramics17.JPG);
	background-size: cover;
}

#ceramicsImage11{
	background-image: url(./assets/images/ceramics9.JPG);
	background-size: cover;
}

#ceramicsImage12{
	background-image: url(./assets/images/ceramics5.JPG);
	background-size: cover;
}

#ceramicsImage13{
	background-image: url(./assets/images/ceramics6.JPG);
	background-size: cover;
}

#ceramicsImage14{
	background-image: url(./assets/images/ceramics3.JPG);
	background-size: cover;
}

/* Navigation Styling */



/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */


 
 #menuToggle
 {
   display: block;
   float: left;
   margin-right: 50px;
   position: relative;
   top: 0px;
   left: 0px;
   
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;

 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: var(--gray);
   font-family: 'Syne';
   
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color: var(--black)
 }
 
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #cdcdcd;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
			   background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
			   opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   width: 300px;
   margin: -100px 0 0 -120px;
   padding: 50px 50px 50px 115px;
   padding-top: 125px;
   
   background: #ededed;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }












/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*_____________________________________________________IDs end here___________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/






::-moz-selection { background:var(--black); color: #fff;}
::selection { background:var(--black); color: #fff;}


h1{
	font-family: 'Syne-Extra' ;
	color: var(--black);
	text-decoration: none;
}

h1 a {
	font-family: 'Syne-Extra' ;
	color: var(--black);
	text-decoration: none;
	transition: all 250ms;
}

h1 a:hover {
	color: var(--gray);
	transition: all 250ms;
}

.heroText{
	font-family: 'Syne-Extra' ;
	color: var(--black);
	text-transform: uppercase;
}

.subheader{
	font-family: 'Syne';
	color: var(--gray);
}

.preParagraphSub{
	font-family: 'Syne';
	color: var(--gray);
}

.homeLinks{
	font-family: "Syne";
	color: var(--gray);
	text-transform: uppercase;
}

.homeLinks a {
	text-decoration: none;
	color: var(--gray);
	transition: all 250ms;
}

.homeLinks a:hover {
	color: var(--black);
	transition: all 250ms;
}

.sectionHeader{
	font-family: "Syne";
	color: var(--gray);
	text-transform: uppercase;
}

.paragraph{
	font-family: "Syne";
	color: var(--gray);
}

.paragraph a {
	font-family: "Syne";
	color: var(--gray);
	transition: all 250ms;
}

.paragraph a:hover {
	color: var(--black);
	transition: all 250ms;
}

.longParagraph{
	font-family: "Syne";
	color: var(--gray);
}

.inlongParagraph{
	font-family: "Syne";
	color: var(--gray);
}

.prefooterHeadline {
	font-family: "Syne-Extra";
	color: var(--black);
}

.prefooterSectionLink {
	font-family: "Syne";
	color: var(--gray);
}

.prefooterSectionLink a {
	font-family: "Syne";
	color: var(--gray);
	transition: all 250ms;
}

.prefooterSectionLink a:hover {
	color: var(--black);
	transition: all 250ms;
}


.prefooterContact {
	font-family: "Syne";
	color: var(--lightgray);
}

.prefooterContact a {
	font-family: "Syne";
	color: var(--lightgray);
	transition: all 250ms;
	text-decoration: none;
}

.prefooterContact a:hover {
	color: var(--black);
	transition: all 250ms;
	text-decoration: none;
}

.blackBar{
	width: 100%;
	background-color: var(--black);
}







/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*________________New Media Query Starts here New Media Query Starts here___________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/









/* small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {

	.pageHeroImage{
		width: 40%;
		height: 30vh;
		position: absolute;
		top: 10%;
		right: 0;
		z-index: -9999;
	}


	.headerBar{
		width: 80%;
		padding: 5vh 0 0 5%;
	}

	h1{
		font-size: 16px;
	}

	.contentWrapper{
		padding: 0 5%;
	}
	
	.heroText{
		font-size: 31px;
		padding: 15vh 0 0 0;
		margin-left: -0.5%;
	}

	.subheader{
		font-size: 19.2px;
		padding: 0 0 15vh 0;
	}

	.preParagraphSub{
		font-size: 19.2px;
		padding: 0 0 15vh 0;
	}

	.homeLinks{
		font-size: 15.36px;
	}

	.homeLinks li {
		margin-bottom: 8px;
		list-style: none;
	}

	.sectionHeader{
		font-size: 19.2px;
		margin-bottom: 3vh;
	}

	.paragraph{
		font-size: 15px;
		line-height: 150%;
		padding-bottom: 3vh;
	}

	.pIndent{
		padding-left: 5%;
	}

	.longParagraph{
		font-size: 15px;
		line-height: 150%;
		padding-bottom: 0vh;
	}

	.inlongParagraph{
		font-size: 15px;
		line-height: 150%;
		padding: 0 5vh 5vh 0;
	}

	.paragraphRow{
		padding-bottom: 9vh;

	}

	/*This styling controls the hover effects on our image blocks*/



	.imageBlockContent{
		position: relative;
		width: 100%;
		height: 100%;
		background-color: none;
		padding: 0;
		opacity: 1;
	}

	.labelPadder{
		width: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		position: absolute;
		bottom: 0;
		left: 0;
	}

	.imageBlockContent p {
		
		color: #fff;
		font-family: 'Syne-Extra';
		text-transform: uppercase;
		font-size: 12px;
		padding: 2vh;
		
	}




	/*This styling controls image block A*/

	.imageGrid{
		width: 100%;
		height: 70vh;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 2%;
	}

	.A_blockLeft{
		order: 1;
		width: 100%;
		height: 49.5%;
	}

	.A_blockRight{
		order: 2;
		width: 100%;
		height: 49.5%;
		flex-direction: column;
		display: flex;
		justify-content: space-between;
	}

	.imgDoubleRow{
		order:1;
		height: 49%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.A_rowImageOne{
		order:1;
		height: 100%;
		width: 49%;
	}

	.A_rowImageTwo{
		order:2;
		height: 100%;
		width: 49%;
	}

	.A_imgSingleRow{
		order: 2;
		height: 50%;
		width: 100%;
	}





	/*This styling controls image block B*/


	.B_blockLeft{ /*Shows up on Right in this config, see "order" parameter below*/
		order: 2;
		width: 100%;
		height: 49.5%;
	}

	.B_blockRight{ /*Shows up on Left in this config, see "order" parameter below*/
		order: 1;
		width: 100%;
		height: 49.5%;
		flex-direction: column;
		display: flex;
		justify-content: space-between;
	}

	.imgDoubleRow{
		order:1;
		height: 48%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.B_rowImageOne{
		order:1;
		height: 100%;
		width: 49%;
	}

	.B_rowImageTwo{
		order:2;
		height: 100%;
		width: 49%;
	}

	.B_imgSingleRow{
		order: 2;
		height: 50%;
		width: 100%;
	}





	/*This styling controls image block C*/


	.C_blockLeft{
		order: 1;
		width: 100%;
		height: 49.5%;
	}

	.C_blockRight{ 
		order: 2;
		width: 100%;
		height: 49.5%;
	}





	/*This styling controls image block D*/


	.D_blockLeft{ /*Shows up on Right in this config, see "order" parameter below*/
		order: 2;
		width: 100%;
		height: 49.5%;
	}

	.D_blockRight{ /*Shows up on Left in this config, see "order" parameter below*/
		order: 1;
		width: 100%;
		height: 49.5%;
	}





	/*This styling controls image block E*/


	.E_block{
		order: 1;
		width: 100%;
		height: 100%;
	}




	.prefooterHeadline{
		font-size: 16px;
		padding: 5vh 0 2vh 0;
		text-align: center;
		text-transform: uppercase;
		
	}

	.prefooterSectionLink{
		font-size: 24px;
		padding-bottom: 2vh;
		text-align: center;
	}

	.prefooterContact{
		font-size: 15.36px;
		padding-bottom: 5vh;
		text-align: center;
		padding-bottom: 5vh;
	}

	.blackBar{
		height: 5vh;
	}



}












/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*________________New Media Query Starts here New Media Query Starts here___________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/













/* small devices (phones, 480-600px) */
@media only screen and (min-width: 481px) {

	.pageHeroImage{
		width: 40%;
		height: 40vh;
		position: absolute;
		top: 10%;
		right: 0;
		z-index: -9999;
	}

	.headerBar{
		width: 80%;
		padding: 5vh 0 0 5%;
	}

	h1{
		font-size: 19.2px;
	}

	.contentWrapper{
		padding: 0 5%;
	}
	
	.heroText{
		font-size: 39px;
		padding: 20vh 0 0 0;
		margin-left: -0.5%;
	}

	.subheader{
		font-size: 19.2px;
		padding: 0 0 20vh 0;
	}

	.preParagraphSub{
		font-size: 19.2px;
		padding: 0 0 20vh 0;
	}

	.homeLinks{
		font-size: 19.2px;
	}

	.homeLinks li {
		margin-bottom: 8px;
		list-style: none;
	}

	.sectionHeader{
		font-size: 19.2px;
		margin-bottom: 3vh;
	}

	.paragraph{
		font-size: 19.2px;
		line-height: 150%;
		padding-bottom: 3vh;
	}

	.pIndent{
		padding-left: 5%;
	}

	.longParagraph{
		font-size: 19.2px;
		line-height: 150%;
		padding: 0 5vh 1vh 0;
	}

	.inlongParagraph{
		font-size: 19.2px;
		line-height: 150%;
		padding: 0 10vh 10vh 0;
	}

	.paragraphRow{
		padding-bottom: 9vh;

	}

	/*This styling controls the hover effects on our image blocks*/



	.imageBlockContent{
		position: relative;
		width: 100%;
		height: 100%;
		background-color: none;
		padding: 0;
		opacity: 1;
	}

	.labelPadder{
		width: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		position: absolute;
		bottom: 0;
		left: 0;
	}

	.imageBlockContent p {
		
		color: #fff;
		font-family: 'Syne-Extra';
		text-transform: uppercase;
		font-size: 12px;
		padding: 2vh;
		
	}




	/*This styling controls image block A*/

	.imageGrid{
		width: 100%;
		height: 70vh;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 2%;
	}

	.A_blockLeft{
		order: 1;
		width: 100%;
		height: 49.5%;
	}

	.A_blockRight{
		order: 2;
		width: 100%;
		height: 49.5%;
		flex-direction: column;
		display: flex;
		justify-content: space-between;
	}

	.imgDoubleRow{
		order:1;
		height: 49%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.A_rowImageOne{
		order:1;
		height: 100%;
		width: 49%;
	}

	.A_rowImageTwo{
		order:2;
		height: 100%;
		width: 49%;
	}

	.A_imgSingleRow{
		order: 2;
		height: 50%;
		width: 100%;
	}





	/*This styling controls image block B*/


	.B_blockLeft{ /*Shows up on Right in this config, see "order" parameter below*/
		order: 2;
		width: 100%;
		height: 49.5%;
	}

	.B_blockRight{ /*Shows up on Left in this config, see "order" parameter below*/
		order: 1;
		width: 100%;
		height: 49.5%;
		flex-direction: column;
		display: flex;
		justify-content: space-between;
	}

	.imgDoubleRow{
		order:1;
		height: 48%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.B_rowImageOne{
		order:1;
		height: 100%;
		width: 49%;
	}

	.B_rowImageTwo{
		order:2;
		height: 100%;
		width: 49%;
	}

	.B_imgSingleRow{
		order: 2;
		height: 50%;
		width: 100%;
	}





	/*This styling controls image block C*/


	.C_blockLeft{
		order: 1;
		width: 100%;
		height: 49.5%;
	}

	.C_blockRight{ 
		order: 2;
		width: 100%;
		height: 49.5%;
	}





	/*This styling controls image block D*/


	.D_blockLeft{ /*Shows up on Right in this config, see "order" parameter below*/
		order: 2;
		width: 100%;
		height: 49.5%;
	}

	.D_blockRight{ /*Shows up on Left in this config, see "order" parameter below*/
		order: 1;
		width: 100%;
		height: 49.5%;
	}





	/*This styling controls image block E*/


	.E_block{
		order: 1;
		width: 100%;
		height: 100%;
	}




	.prefooterHeadline{
		font-size: 19.2px;
		padding: 5vh 0 2vh 0;
		text-align: center;
		text-transform: uppercase;
		
	}

	.prefooterSectionLink{
		font-size: 24px;
		padding-bottom: 2vh;
		text-align: center;
	}

	.prefooterContact{
		font-size: 19.2px;
		padding-bottom: 5vh;
		text-align: center;
		padding-bottom: 5vh;
	}

	.blackBar{
		height: 5vh;
	}

}








/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*________________New Media Query Starts here New Media Query Starts here___________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/









/* Small devices (tablet portrait, above 600px) */
@media only screen and (min-width: 601px) {
   
	.pageHeroImage{
		width: 40%;
		height: 40vh;
		position: absolute;
		top: 10%;
		right: 0;
		z-index: -9999;
	}

	.headerBar{
		width: 80%;
		padding: 5vh 0 0 5%;
	}

	h1{
		font-size: 19.2px;
	}

	.contentWrapper{
		padding: 0 5%;
	}
	
	.heroText{
		font-size: 48px;
		padding: 20vh 0 0 0;
		margin-left: -0.5%;
	}

	.subheader{
		font-size: 24px;
		padding: 0 0 20vh 0;
	}

	.preParagraphSub{
		font-size: 24px;
		padding: 0 0 20vh 0;
	}

	.homeLinks{
		font-size: 24px;
	}

	.homeLinks li {
		margin-bottom: 8px;
		list-style: none;
	}

	.sectionHeader{
		font-size: 24px;
		margin-bottom: 4vh;
	}

	.paragraph{
		font-size: 24px;
		line-height: 150%;
		padding-bottom: 4vh;
	}

	.pIndent{
		padding-left: 7.5%;
	}

	.longParagraph{
		font-size: 24px;
		line-height: 150%;
		padding: 0 15vh 0vh 0;
	}

	.inlongParagraph{
		font-size: 19.2px;
		line-height: 150%;
		padding: 0 15vh 10vh 0;
	}

	.paragraphRow{
		padding-bottom: 12vh;

	}

	/*This styling controls the hover effects on our image blocks*/



	.imageBlockContent{
		position: relative;
		width: 100%;
		height: 100%;
		background-color: none;
		padding: 0;
		opacity: 1;
	}

	.labelPadder{
		width: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		position: absolute;
		bottom: 0;
		left: 0;
	}

	.imageBlockContent p {
		
		color: #fff;
		font-family: 'Syne-Extra';
		text-transform: uppercase;
		font-size: 12px;
		padding: 2vh;
		
	}




	/*This styling controls image block A*/

	.imageGrid{
		width: 100%;
		height: 90vh;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 2%;
	}

	.A_blockLeft{
		order: 1;
		width: 100%;
		height: 49.5%;
	}

	.A_blockRight{
		order: 2;
		width: 100%;
		height: 49.5%;
		flex-direction: column;
		display: flex;
		justify-content: space-between;
	}

	.imgDoubleRow{
		order:1;
		height: 49%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.A_rowImageOne{
		order:1;
		height: 100%;
		width: 49%;
	}

	.A_rowImageTwo{
		order:2;
		height: 100%;
		width: 49%;
	}

	.A_imgSingleRow{
		order: 2;
		height: 50%;
		width: 100%;
	}





	/*This styling controls image block B*/


	.B_blockLeft{ /*Shows up on Right in this config, see "order" parameter below*/
		order: 2;
		width: 100%;
		height: 49.5%;
	}

	.B_blockRight{ /*Shows up on Left in this config, see "order" parameter below*/
		order: 1;
		width: 100%;
		height: 49.5%;
		flex-direction: column;
		display: flex;
		justify-content: space-between;
	}

	.imgDoubleRow{
		order:1;
		height: 48%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.B_rowImageOne{
		order:1;
		height: 100%;
		width: 49%;
	}

	.B_rowImageTwo{
		order:2;
		height: 100%;
		width: 49%;
	}

	.B_imgSingleRow{
		order: 2;
		height: 50%;
		width: 100%;
	}





	/*This styling controls image block C*/


	.C_blockLeft{
		order: 1;
		width: 100%;
		height: 49.5%;
	}

	.C_blockRight{ 
		order: 2;
		width: 100%;
		height: 49.5%;
	}





	/*This styling controls image block D*/


	.D_blockLeft{ /*Shows up on Right in this config, see "order" parameter below*/
		order: 2;
		width: 100%;
		height: 49.5%;
	}

	.D_blockRight{ /*Shows up on Left in this config, see "order" parameter below*/
		order: 1;
		width: 100%;
		height: 49.5%;
	}





	/*This styling controls image block E*/


	.E_block{
		order: 1;
		width: 100%;
		height: 100%;
	}




	.prefooterHeadline{
		font-size: 19.2px;
		padding: 5vh 0 2vh 0;
		text-align: center;
		text-transform: uppercase;
		
	}

	.prefooterSectionLink{
		font-size: 24px;
		padding-bottom: 2vh;
		text-align: center;
	}

	.prefooterContact{
		font-size: 19.2px;
		padding-bottom: 5vh;
		text-align: center;
		padding-bottom: 5vh;
	}

	.blackBar{
		height: 5vh;
	}
}












/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*________________New Media Query Starts here New Media Query Starts here___________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/











/* Medium devices (tablet landscape, above 900px) */
@media only screen and (min-width: 900px) {

	.pageHeroImage{
		width: 50%;
		height: 50vh;
		position: absolute;
		top: 10%;
		right: 0;
		z-index: -9999;
	}


	.headerBar{
		width: 50%;
		padding: 5vh 10vh 0 10vh;
	}

	h1{
		font-size: 19.2px;
	}

	.contentWrapper{
		padding: 0 10vh;
	}
	
	.heroText{
		font-size: 61px;
		padding: 25vh 0 0 0;
		
	}

	.subheader{
		font-size: 30px;
		padding: 0 0 25vh 0;
	}

	.preParagraphSub{
		font-size: 30px;
		padding: 0 0 20vh 0;
	}

	.homeSubheader{
		padding: 0 0 15vh 0;
	}

	.homeLinks{
		font-size: 24px;
	}

	.homeLinks li {
		margin-bottom: 8px;
		list-style: none;
	}

	.sectionHeader{
		font-size: 19.2px;
		margin: 1vh 0 8vh 0;
	}

	.paragraph{
		font-size: 30px;
		padding-bottom: 8vh;
	}

	.pIndent{
		padding:0 0 0 8vh;
	}

	.longParagraph{
		font-size: 30px;
		padding: 0 0 2vh 0;
	}


	.inlongParagraph{
		font-size: 19.2px;
		padding: 0 60vh 10vh 0;
	}

	.paragraphRow{
		padding-bottom: 2vh;
	}

	.prefooterHeadline{
		font-size: 30px;
		padding: 5vh 0 2vh 0;
		text-align: center;
		text-transform: uppercase;
		
	}

	.prefooterSectionLink{
		font-size: 30px;
		padding-bottom: 2vh;
		text-align: center;
	}

	.prefooterContact{
		font-size: 15.36px;
		padding-bottom: 5vh;
		text-align: center;
		padding-bottom: 5vh;
	}

	.blackBar{
		height: 5vh;
	}

	.imageBlockContent p {
		font-size: 19.2px;
	}



	/*This styling controls the hover effects on our image blocks*/

	.imageBlockContent{
		position: relative;
		width: 100%;
		height: 100%;
		background-color: none;
		padding: 0;
		opacity: 1;
	}

	.labelPadder{
		width: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		position: absolute;
		bottom: 0;
		left: 0;
	}

	.imageBlockContent p {
		
		color: #fff;
		font-family: 'Syne-Extra';
		text-transform: uppercase;
		font-size: 15px;
		padding: 4vh;
		
	}



	/*This styling controls image block A*/

	.imageGrid{
		width: 100%;
		height: 70vh;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 1%;
	}

	.A_blockLeft{
		width: 40%;
		height: 100%;
		order: 1;
	}

	.A_blockRight{
		width: 59%;
		height: 100%;
		order: 2;
		flex-direction: column;
		display: flex;
		justify-content: space-between;
	}

	.imgDoubleRow{
		order:1;
		height: 49%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.A_rowImageOne{
		order:1;
		height: 100%;
		width: 49%;
	}

	.A_rowImageTwo{
		order:2;
		height: 100%;
		width: 49%;
	}

	.A_imgSingleRow{
		order: 2;
		height: 50%;
		width: 100%;
	}





	/*This styling controls image block B*/


	.B_blockLeft{ /*Shows up on Right in this config, see "order" parameter below*/
		order: 2;
		width: 40%;
		height: 100%;
	}

	.B_blockRight{ /*Shows up on Left in this config, see "order" parameter below*/
		order: 1;
		width: 59%;
		height: 100%;
		flex-direction: column;
		display: flex;
		justify-content: space-between;
	}

	.imgDoubleRow{
		order:1;
		height: 48%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.B_rowImageOne{
		order:1;
		height: 100%;
		width: 49%;
	}

	.B_rowImageTwo{
		order:2;
		height: 100%;
		width: 49%;
	}

	.B_imgSingleRow{
		order: 2;
		height: 50%;
		width: 100%;
	}





	/*This styling controls image block C*/


	.C_blockLeft{
		order: 1;
		width: 40%;
		height: 100%;
	}

	.C_blockRight{ 
		order: 2;
		width: 59%;
		height: 100%;
	}





	/*This styling controls image block D*/


	.D_blockLeft{ /*Shows up on Right in this config, see "order" parameter below*/
		order: 2;
		width: 40%;
		height: 100%;
	}

	.D_blockRight{ /*Shows up on Left in this config, see "order" parameter below*/
		order: 1;
		width: 59%;
		height: 100%;
	}





	/*This styling controls image block E*/


	.E_block{
		order: 1;
		width: 100%;
		height: 100%;
	}
}














/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*________________New Media Query Starts here New Media Query Starts here___________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/















/* Standard devices (laptop, above 1200px) */
@media only screen and (min-width: 1200px) {


	.pageHeroImage{
		width: 43%;
		height: 70vh;
		position: absolute;
		top: 10%;
		right: 0%;
		z-index: -9999;
	}

	.headerBar{
		width: 50%;
		padding: 5vh 10vh 0 10vh;
	}

	h1{
		font-size: 24px;
	}

	.contentWrapper{
		padding: 0 10vh;
	}
	
	.heroText{
		font-size: 96px;
		padding: 25vh 0 0 0;
		margin-left: -0.9vh;
	}

	.subheader{
		font-size: 46.88px;
		padding: 0 0 40vh 0;
	}

	.preParagraphSub{
		font-size: 46.88px;
		padding: 0 0 10vh 0;
	}

	.homeSubheader{
		padding: 0 0 15vh 0;
	}

	.homeLinks{
		font-size: 24px;
	}

	.homeLinks li {
		margin-bottom: 8px;
		list-style: none;
	}
	
	.sectionHeader{
		font-size: 24px;
	}

	.paragraph{
		font-size: 31px;
		padding-bottom: 5vh;
	}

	.paragraphRow{
		padding-bottom: 10vh;

	}


	.pIndent{
		font-size: 31px;
		padding:0 0 0 10vh;
	}

	.longParagraph{
		font-size: 31px;
		padding: 0 10vh 0 0;
	}


	.inlongParagraph{
		font-size: 31px;
		padding: 0 70vh 15vh 0;
	}

	.prefooterHeadline{
		font-size: 58.59px;
		padding: 5vh 0 2vh 0;
		text-align: center;
		text-transform: uppercase;
		
	}

	.prefooterSectionLink{
		font-size: 58.59px;
		padding-bottom: 2vh;
		text-align: center;
	}

	.prefooterContact{
		font-size: 24px;
		text-align: center;
		padding-bottom: 5vh;
	}

	.blackBar{
		height: 5vh;
	}

	.imageBlockContent p {
		font-size: 24px;
	}







	/*This styling controls the hover effects on our image blocks*/

	.imageBlockContent{
		position: relative;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		padding: 0;
		opacity: 0;
		transition: all 250ms;
	}

	.imageBlockContent:hover{
		opacity: 1;
		transition: all 250ms;
	}

	.imageBlockContent p {
		padding: 4vh;
		color: #fff;
		font-family: 'Syne-Extra';
		font-size: 19.2px;
		text-transform: uppercase;
		position: absolute;
		bottom: 0;
  		left: 0;
	}



	/*This styling controls image block A*/

	.imageGrid{
		width: 100%;
		height: 90vh;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 1%;
	}

	.A_blockLeft{
		width: 40%;
		height: 100%;
		order: 1;
	}

	.A_blockRight{
		width: 59%;
		height: 100%;
		order: 2;
		flex-direction: column;
		display: flex;
		justify-content: space-between;
	}

	.imgDoubleRow{
		order:1;
		height: 48%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.A_rowImageOne{
		order:1;
		height: 100%;
		width: 49%;
	}

	.A_rowImageTwo{
		order:2;
		height: 100%;
		width: 49%;
	}

	.A_imgSingleRow{
		order: 2;
		height: 50%;
		width: 100%;
	}





	/*This styling controls image block B*/


	.B_blockLeft{ /*Shows up on Right in this config, see "order" parameter below*/
		order: 2;
		width: 40%;
		height: 100%;
	}

	.B_blockRight{ /*Shows up on Left in this config, see "order" parameter below*/
		order: 1;
		width: 59%;
		height: 100%;
		flex-direction: column;
		display: flex;
		justify-content: space-between;
	}

	.imgDoubleRow{
		order:1;
		height: 48%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.B_rowImageOne{
		order:1;
		height: 100%;
		width: 49%;
	}

	.B_rowImageTwo{
		order:2;
		height: 100%;
		width: 49%;
	}

	.B_imgSingleRow{
		order: 2;
		height: 50%;
		width: 100%;
	}





	/*This styling controls image block C*/


	.C_blockLeft{
		order: 1;
		width: 40%;
		height: 100%;
	}

	.C_blockRight{ 
		order: 2;
		width: 59%;
		height: 100%;
	}





	/*This styling controls image block D*/


	.D_blockLeft{ /*Shows up on Right in this config, see "order" parameter below*/
		order: 2;
		width: 40%;
		height: 100%;
	}

	.D_blockRight{ /*Shows up on Left in this config, see "order" parameter below*/
		order: 1;
		width: 59%;
		height: 100%;
	}





	/*This styling controls image block E*/


	.E_block{
		order: 1;
		width: 100%;
		height: 100%;
	}
}











/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*________________New Media Query Starts here New Media Query Starts here___________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/
/*__________________________________________________________________________________________*/














/* large devices (1080p, above 1600px) */
@media only screen and (min-width: 1640px) {


	.pageHeroImage{
		width: 40%;
		height: 80vh;
		position: absolute;
		top: 20%;
		right: 0;
		z-index: -9999;
	}



	.headerBar{
		width: 50%;
		padding: 5vh 10vh 0 10vh;
	}

	h1{
		font-size: 19.2px;
	}

	.contentWrapper{
		padding: 0 10vh;
	}
	
	.heroText{
		font-size: 119px;
		padding: 25vh 0 0 0;
		margin-left: -0.9vh;
	}


	.subheader{
		font-size: 58.59px;
		padding: 0 0 60vh 0;
	}


	.preParagraphSub{
		font-size: 58.59px;
		padding: 0 80vh 20vh 0;
	}

	.homeSubheader{
		padding: 0 0 15vh 0;
	}

	.homeLinks{
		font-size: 30px;
	}

	.homeLinks li {
		margin-bottom: 8px;
		list-style: none;
	}

	.sectionHeader{
		font-size: 24px;
		padding-bottom: 5vh;
	}

	.paragraph{
		font-size: 39px;
		padding-bottom: 15vh;
		line-height: 150%;
	}

	.paragraphRow{
		padding-bottom: 10vh;

	}

	.pIndent{
		font-size: 39px;
		padding:0 0 0 10vh;
	}

	.longParagraph{
		font-size: 39px;
		padding: 0 20vh 3vh 0;
	}

	.inlongParagraph{
		font-size: 39px;
		padding: 0 80vh 30vh 0;
	}

	.prefooterHeadline{
		font-size: 73.24px;
		padding: 10vh 0 2vh 0;
		text-align: center;
		text-transform: uppercase;
		
	}

	.prefooterSectionLink{
		font-size: 58.59px;
		padding-bottom: 2vh;
		text-align: center;
	}

	.prefooterContact{
		font-size: 15.36px;
		padding-bottom: 5vh;
		text-align: center;
		padding-bottom: 10vh;
	}

	.blackBar{
		height: 5vh;
	}


	/*This styling controls the hover effects on our image blocks*/

	.imageBlockContent{
		position: relative;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		padding: 0;
		opacity: 0;
		transition: all 250ms;
	}

	.imageBlockContent:hover{
		opacity: 1;
		transition: all 250ms;
	}

	.imageBlockContent p {
		padding: 4vh;
		color: #fff;
		font-family: 'Syne-Extra';
		font-size: 24px;
		text-transform: uppercase;
		position: absolute;
		bottom: 0;
  		left: 0;
	}



	/*This styling controls image block A*/

	.imageGrid{
		width: 100%;
		height: 90vh;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 1%;
	}

	.A_blockLeft{
		width: 40%;
		height: 100%;
		order: 1;
	}

	.A_blockRight{
		width: 59%;
		height: 100%;
		order: 2;
		flex-direction: column;
		display: flex;
		justify-content: space-between;
	}

	.imgDoubleRow{
		order:1;
		height: 48%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.A_rowImageOne{
		order:1;
		height: 100%;
		width: 49%;
	}

	.A_rowImageTwo{
		order:2;
		height: 100%;
		width: 49%;
	}

	.A_imgSingleRow{
		order: 2;
		height: 50%;
		width: 100%;
	}





	/*This styling controls image block B*/


	.B_blockLeft{ /*Shows up on Right in this config, see "order" parameter below*/
		order: 2;
		width: 40%;
		height: 100%;
	}

	.B_blockRight{ /*Shows up on Left in this config, see "order" parameter below*/
		order: 1;
		width: 59%;
		height: 100%;
		flex-direction: column;
		display: flex;
		justify-content: space-between;
	}

	.imgDoubleRow{
		order:1;
		height: 48%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.B_rowImageOne{
		order:1;
		height: 100%;
		width: 49%;
	}

	.B_rowImageTwo{
		order:2;
		height: 100%;
		width: 49%;
	}

	.B_imgSingleRow{
		order: 2;
		height: 50%;
		width: 100%;
	}





	/*This styling controls image block C*/


	.C_blockLeft{
		order: 1;
		width: 40%;
		height: 100%;
	}

	.C_blockRight{ 
		order: 2;
		width: 59%;
		height: 100%;
	}





	/*This styling controls image block D*/


	.D_blockLeft{ /*Shows up on Right in this config, see "order" parameter below*/
		order: 2;
		width: 40%;
		height: 100%;
	}

	.D_blockRight{ /*Shows up on Left in this config, see "order" parameter below*/
		order: 1;
		width: 59%;
		height: 100%;
	}





	/*This styling controls image block E*/


	.E_block{
		order: 1;
		width: 100%;
		height: 100%;
	}


} 

@keyframes fade-in {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

.fade-in {
	animation: fade-in 400ms ease-out forwards;
}

/* svg {
	position: absolute;
	top: 0;
	right: -50%;
	opacity: .2;
}

path {
	transform-origin: center center;
} */